go 1.25

use (
	./apiguard
	./citadel
	./community
	./cyberpath
	./irflow
	./opencsirt
	./openscrub
	./sdk/go
	./sdk/go/citadel
	./sdk/go/sinauth
	./sdk/tests/integration
	./securelab
	./sinauth
	./threatflow
	./vertguard
)
